<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiQBWi0O2Y6TC2xOW3_j3g8DiLMAF1OjY</string>
	<key>GCM_SENDER_ID</key>
	<string>942844209869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp3-210dc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp3-210dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942844209869:ios:d702291b70d406b71fd784</string>
</dict>
</plist>